doctype
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='Content-Type',content='text/html; charset=UTF-8')
    title Personal music database
    include stylesheets
    <!--[if lt IE 9]>
    script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
    script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
    <![endif]-->
  body
    include navbar
    include contents
    include modals
    include templates
    include javascripts
