script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
script(src="js/underscore-min.js")
script(src="js/backbone-min.js")
script(src="js/backbone.localStorage-min.js")
script(src="js/application.js")
